*{
	margin: 5px;
	padding: 5px;
}

body {
	padding-left: 0em;
	font-family: Georgia, "Times New Roman",
		Times, serif;
	color: black;
	background-color: cyan; 
	}


.table, tr, td {
	border-collapse: collapse;
	border-radius: 10px;
	background-color: none;
  
}

#ej1_table{
	border-style: none;
	width: 100%;
	text-align: center;
	background-color: yellow;
	border-collapse: collapse;
	border-radius: 10px;
}

header h1{
	background: blue;
	height: 200 px;
	width: 100%;
	text-align: center;
	line-height: 200 px;
	color: white;
	font-size: 50px;
}

p {
font-size: 20px;
text-align: justify;
}

h2{
	background: silver;
	height: auto;
	width: 100%;
	text-align: center;
	line-height: auto;
	color: black;
	font-size: auto;

}
